# Configurações de Ambiente — Frontend

VITE_API_URL=http://localhost:3001/api/v1

# Supabase
VITE_SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=xxxxxxxxxxxxxxxxxxxxx

# PWA
VITE_ENABLE_PWA=true

SUPABASE_SERVICE_ROLE_KEY=xxxxxxxxxxxxxxxxxxx